/* 溢出隐藏... */

span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 表格单一边框 */

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}